@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: 'Roboto';
  src: url("assets/Roboto-Regular.ttf") format("truetype");
}
.cardsView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card { 
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px 100px;
}

.card .cardTitle {
  text-align: center;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.card .cardColor {
  text-align: center;
  font-family: inherit;
  font-weight: 300;
  margin: 0;
}


.cardImg {
  width: 200px;
  height: 200px;
}

.cardInfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: red;
}

.cardPrice {
  font-weight: 700;
  margin: 0;
}

.cardButton {
  border: red 1px solid;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: white;
  color: red;
  font-weight: 700;
  cursor: pointer;
}

.shopItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  padding-right: 20px;
  margin-bottom: 2px;
}

.shopItemTitle {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.shopItemImage {
  height: 100px;
}

.shopItemPrice {
  font-weight: 700;
  color: red;
}

.shopItemButton {
  border: red 1px solid;
  border-radius: 20px;
  padding: 7px 10px;
  background-color: white;
  color: red;
  font-weight: 700;
  cursor: pointer;
}

.storeHeader {
  display: flex;
  flex-direction: row-reverse;
}

.iconSwitch {
  border: none;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}

.material-icons {
  font-size: 40px;
}
